body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;

  background:
  linear-gradient(to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
    url('https://img.freepik.com/premium-photo/image-surprised-young-woman-gasping-amazed-holding-hand-chest-smiling-astonished-with-sale_1258-127373.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

a.btn:hover {
  background-color:#fff;
  transition: 0.3s ease-in-out;
  color: rgb(76, 33, 33);
}